@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html{
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
h1, h3, span{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: normal;
} 
section, .intro-section, .project-section, .experience-section, .contact-section {
    scroll-margin-top: 80px; 
} 
.header{
    padding-inline: 30px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 95%;
    border-bottom: 1px black solid;
    z-index: 1000;
}
.logo{
    display: flex;
    flex-direction:row;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo p{
    color: black;
}
.header-btn-group{
    display: flex;
}
.header-btn-group button{
    background-color: transparent;
    border: none;
    padding: 15px;
    border-radius: 50px;
}
.header-btn-group button:hover {
    background-color: black;
    color: white;
}
.intro-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px black solid;
}
.intro-section img{
    width: 60%;
    height: 100vh;
    object-fit: contain ;
}

.information{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 50px;
}
.info-detail{
    margin-top: 150px;
}
.information img{
    height: 100vh;
    width:40vw;
    display: flex;
    position: absolute;
    object-fit: cover;
    z-index: -1000;
    scale: 1;
}
.info-btn-group{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.info-btn-group button{
    margin-top: 20px;
    background-color: black;
    border: none;
    padding: 15px;
    color: white;
    border-radius: 50px;
}
.info-btn-group button:hover{
    background-color: transparent;
    border: 1px black solid;
    color: black;
}
.about-section{
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    animation: slide-up 3s ease-in-out forwards;
    animation-direction: alternate;
}
.edu-about{
    margin-top: 60px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: space-evenly;
}
.edu{
    width: 55%;
}
.edu-detail{
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
}
.vl{
    width: 5px;
    height: 80px;
    background-color: black;
    border-radius: 10px;
    margin-right: 15px;
}
.school{
    margin-top: -15px;
}
.school p{
    margin-bottom: 30px;
}
.about{
    width: 45%;
}
.hl{
    height: 5px;
    width: 31%;
    background-color: black;
    border-radius: 10px;
}
.tech-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}
.technical{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    gap: 20px;
    width: 100%;
}
.card{
    min-width: 200px; 
    max-width: auto;
    flex-shrink: 0; 
    background-color: #DFEDFF;
    border-radius: 20px;
    padding: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.card p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
}
.card b{
    margin-top: -10px;
    margin-bottom: 10px;
}
.card h4{
    margin-bottom: 2px;
    font-size: 14px;
    margin-top: 2px;
}
.project-section{
    padding-inline: 100px;
    margin-top: 60px;
}
.pro-card {
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #DFEDFF;
    display: flex;
    flex-direction: column;
}
.pro-card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.description {
    flex: 1;
    max-width: 40%;
}
.description button{
    border-radius: 20px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
.description button:hover{
    background-color: transparent;
    border: 1px black solid;
    color:  black;
}
.video-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 250px;
}
.video-wrapper iframe {
    height: 100%;
    width:90%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.greenbite{
    align-self: center;
    width: 150px;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}
.search{
    align-self: center;
    height: 400px;
    width: 500px;
    border-radius: 20px 20px 0px 0px;
}
.neoWeb{
    align-self: center;
    height: 400px;
    width: 500px;
    border-radius: 20px 20px 0px 0px;
}
.experience-section{
    padding-inline: 100px;
    margin-top: 60px;
}
.ex-card-list{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.ex-card{
    background-color: #DFEDFF;
    border-radius: 20px;
    max-width: 85%;
    height: 390px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ex-card img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: auto;    
}
.ex-card h3{
    margin-top: -5px;
    margin-bottom: 5px;
}
.ex-card li{
    font-size: 12px;
}
.com-card{
    width: 92%;
    background-color: #DFEDFF;
    border-radius: 20px;
    padding: 30px;
    height: auto;
}
.com-card-section img{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.com-card-section{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}
.com-card-section p{
    width: 45%;
    font-size: 15px;
}
.contact-section{
    padding-inline: 100px;
    margin-top: 60px;
}
a{
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.icon-text{
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: auto;
}
.split-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 50px;
}
.footer{
    display: flex;
    padding-inline: 100px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 12px;
    color: gray;
}
@keyframes slide-in {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

